/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800,900&display=swap");

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    /* по умолчанию */
    font-size: 16px;
}

body {
    line-height: 1;
    color: #4b4b4b;
    /* font-family: "Имя шрифта", "Имя шрифта", ..., тип шрифта */
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #f5f5f5;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ------------------------------ */
.header {
    /* background-color: #794f45;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center; */
}

.main {
    flex-grow: 1;
}

.footer {
    background-color: #292929;
    display: flex;
    min-height: 300 px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

/* ------------------------------ */

[class*="__container"] {
    max-width: 1130px;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width: 1130px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

@media (max-width: 479.98px) {}


.__HelveticaNeueCyr {
    font-family: "HelveticaNeueCyr", sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.781);
    border-bottom: 1px solid #1b1b1b;
    position: fixed;
    width: 100%;
    padding: 0px 15px;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

@media (max-width: 991.98px) {
    .header__logo img {
        height: 90px;
        margin: 0px 10px 0px 0px;
    }
}

@media (max-width: 479.98px) {
    .header__logo img {
        height: 70px;
        margin: 0px 10px 0px 0px;
    }
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

@media (max-width: 767.98px) {
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #2c2c2c;
        padding: 80px 15px 80px 15px;
        transition: left 0.3s ease 0s;
    }

    .header:target .header__menu {
        left: 0;
    }

    .header:target .header__menu::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #2c2c2c;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu__item {
        margin: 0px 0px 25px 0px;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }
}

.header__button {
    display: flex;
    align-items: center;
}

.icon-close-menu,
.icon-menu {
    display: none;
}

@media (max-width: 767.98px) {
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #fff;
        height: 2px;
    }

    .icon-menu span {
        background-color: #fff;
        height: 2px;
    }

    .icon-close-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
    }

    .icon-close-menu::before,
    .icon-close-menu::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
    }

    .icon-close-menu::before {
        transform: rotate(45deg);
    }

    .icon-close-menu::after {
        transform: rotate(-45deg);
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .icon-close-menu {
        display: flex;
    }
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    gap: 40px;
}

@media (max-width: 991.98px) {
    .menu__list {
        gap: 30px;
    }
}

.menu__item {
    position: relative;
}

.menu__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    color: #fff;
    text-transform: uppercase;
}

.menu__link:hover::before {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    top: 140%;
    left: 0;
    background-color: #39509c;
    animation: line 0.3s linear alternate 1 forwards;
    border-radius: 0% 50% 50% 0%;
}

@keyframes line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.menu__link:hover {
    transition: color 0.2s ease-in-out 0s;
    color: #7092ff;
}

/* headder */

/* first-block */

.first {
    padding: 310px 0px 310px 0px;
    background: url('../img/snow03.jpg') 0 70% / cover no-repeat;
}

.first__container {
    display: flex;
    flex-direction: column;
}

.first__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}

.first__items:not(:last-child) {
    margin: 0px 0px 66px 0px;
}

.first__item {
    padding: 0px 12px;
    flex: 1 1 25%;
    min-width: 251.98px;
}

.item-first {
    border-radius: 20px 20px 0px 0px;
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.item-first__image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-first__image img {
    max-width: 100%;
    max-height: 281px;
    border-radius: 20px 20px 0px 0px;
}

.item-first__image:not(:last-child) {
    margin: 0px 0px 33px 0px;
}

.item-first__text {
    flex: 1 1 auto;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.38;
    letter-spacing: 0.08em;
    color: #fafafa;
}

/* first-block */

/* приклад */

.services {
    background: url('../img/mountain.jpg') 0 70% / cover no-repeat;
    padding: 350px 0px 350px 0px;
}

.services__container {
    display: flex;
    flex-direction: column;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}

.services__items:not(:last-child) {
    margin: 0px 0px 66px 0px;
}

.services__item {
    padding: 0px 12px;
    flex: 1 1 25%;
    min-width: 251.98px;
}

.item-services {
    border-radius: 40px 40px 20px 20px;
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.item-services__image {
    flex: 0 0 26px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-services__image img {
    max-width: 100%;
    max-height: 281px;
    border-radius: 40px;
}

.item-services__image:not(:last-child) {
    margin: 0px 0px 33px 0px;
}

.item-services__text {
    flex: 1 1 auto;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.38;
    letter-spacing: 0.08em;
    color: #fafafa;
}

.item-services__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.second {
    background: url('../img/snow-mount.jpg') 0 70% / cover no-repeat;
    padding: 270px 0px 270px 0px;
}

.second__container {
    display: flex;
    flex-direction: column;
}

.second__items {
    margin: 0px -12px;
    flex-wrap: wrap;
    display: flex;
    row-gap: 24px;
}

.second__item {
    padding: 0px 12px;
    flex: 1 1 33.333%;
    min-width: 260.98px;
}

.item-second {
    padding: 0px 0px 33px 0px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.item-second__image {
    display: flex;
    justify-content: center;
    flex: 0 0 26px;
    width: 100%;
}

.item-second__image:not(:last-child) {
    margin: 0px 0px 33px 0px;
}

.item-second__image img {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    max-height: 350px;

}

.item-second__text {
    flex: 1 1 auto;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.38;
    letter-spacing: 0.08em;
    color: #ffffff;
}

.item-second__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
}


/* приклад */

/* Берем шрифты с собой!!! */

/* Два варианта подключения семейств шрифта */

/* (1) Удаленное подключение. Подключение из внешнего источника (по ссылке) */
/* (2) Локальное подключение. Подключение локальных файлов */

/* --------------- */

/* Свойства шрифта */

/* font-family: "Имя шрифта", "Имя шрифта", ..., тип шрифта */
/*
Устанавливает семейство шрифта
Типы шрифта:
serif — шрифты с засечками (антиквенные), типа Times;
sans-serif — рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial;
cursive — курсивные шрифты;
fantasy — декоративные шрифты;
monospace — моноширинные шрифты, ширина каждого символа в таком семействе одинакова (шрифт Courier).
*/

/*
font-weight:
Устанавливает насыщенность шрифта.
100 - thin
300 - lite
400 - normal
500 - medium
600 - semibold
700 - bold
900 - black
*/
